*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: black;
    color: white;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 55px;
}
.container button img{
    width:25px;
    margin-right: 8px;
}
.container button{
    display: flex;
        align-items: center;
        background: black;
        color: white;
        font-size: 16px;
        outline: 0;
        border-radius: 17px;
        padding: 15px 20px;
        margin: 20px 0 20px;
        cursor: pointer;
        border-color: white;
}
.container button:hover {
    background:linear-gradient(rgb(237, 13, 237),rgb(77, 50, 151));
    border-color: black;
}
.input-box{
    width: 100%;
    position:relative;
    max-width: 500px;
    min-height: 150px;
    background: white;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline:none;
    border-radius: 5px;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
